{% extends "britishdenim/base.html" %}
{% block body %} 
{% load static %}
{% load i18n %}

<div class="pt-5"></div>
<div class="d-flex justify-content-center">
    <div class="container-contact d-flex justify-content-center">
        <div class="row my-2 mx-2">
            <div class="col-md-6"> 
                <img src="{% static '/britishdenim/images/contactus.jpg' %}" alt="IMG" width="85%" height="80%" padding-left="50" padding-top="110"> </div>
            <!--col-->
            <div class="col-md-6">
                <h2 class="form-title">{% translate "Contact us" %}</h2>
                <p class="justify text-muted">{% translate "Have an enquiry or would like to give us feedback?<br>Fill out the form below to contact our team." %} </p>
                <form>
                    <div class="form-group pt-2 pl-1"> <label for="exampleInputName">{% translate "Your name" %}</label> <input type="text" class="form-control" id="exampleInputName"> </div>
                    <div class="form-group pl-1"> <label for="exampleInputEmail1">{% translate "Your email address" %}</label> <input type="email" class="form-control" id="exampleInputEmail1"> </div>
                    <div class="form-group pl-1"> <label for="exampleFormControlTextarea1">{% translate "Your message" %}</label> <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea> </div>
                    <div class="row">
                        <div class="col-md-3 offset-md-9"><button type="submit" class="btn-contact btn-primary">{% translate "Send" %}</button></div>
                    </div>
                </form>
            </div>
            <!--col-->
        </div>
        <!--row-->
    </div>
</div>

{%endblock%}