
{% extends "britishdenim/base.html" %}
{% block body %} 
{% load static %}
<div class="container">
    <div id="staticBackdrop" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content p-3">
                <h5>Crea tu cuenta</h5>
                <form  method="post">
                    {% csrf_token %}
                    <input type="text" name="inputSku" value="{{sku}}" hidden>
                    <label for="inputEmail" class="form-label">Correo</label>
                    <input type="email" class="form-control" id="email" name="email" 
                    
                    >
                    <label for="inputPassword" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="inputPassword" name="inputPassword">
                 
                    
              
                    <label for="first_name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="first_name" name="first_name"
                    {% if user.is_authenticated %}
                    value= {{user.first_name}} readonly
                    {%endif%}>
                    
                    <label for="last_name" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="last_name" name="last_name"
                    {% if user.is_authenticated %}
                    value= {{user.last_name}} readonly
                    {% endif %}
                    >
                 
                    <label for="city" class="form-label">Ciudad</label>
                    <input type="text" class="form-control" id="city" name="city" placeholder="City" value={{city}}>
                    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="getInfo" name="getInfo" checked>
                        <label class="form-check-label" for="getInfo">
                        Mantenme informado.
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary" name="newUser">Listo</button>
                </form>
            </div>
        </div>
    </div>

    <div id="loginScreen" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content p-3">
                <h5>Ingresa tus datos</h5>
                <form method="post">
                    {% csrf_token %}
                    <input type="text" name="inputSku" value="{{sku}}" hidden>
                    <label for="inputEmail" class="form-label">Correo</label>
                    <input type="email" class="form-control" id="email" name="email" >
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password">
                 
                    <button type="submit" class="btn btn-primary m-2" name="loginReg">Ingresar</button>
                </form>
            </div>
        </div>
    </div>

        {% if user.is_authenticated %}
    <h2>Bienvenido {{user.first_name}}.</h2><br> <h4>Gracias por escanear un producto.</h4>  
    {%else%}
        {% if sku != "_" %}
            <h2>Gracias por escanear el codigo QR. </h2><br>
            <h3>Por favor registrate para aprovechar de nuestras promociones.</h3>
        {% else %} 
            <h2>Registra algun producto con su referencia.</h2><br>
            <h3>Podras aprovechar futuras promociones.</h3>
        {%endif%}

    {%endif%}

    
        <div class="row my-2 mx-2">
        
            
            

            <div class="col-md-8 col-sm-12">
                <form method="post">
                    {% csrf_token %}
                    <br>
                    <label for="inputSku" class="form-label">Referencia</label>
                    <input type="text" {% if sku != "_" %}readonly value= "{{ sku }}"{%endif%} class="form-control" id="inputSku" name="inputSku" placeholder="Busca la referencia. Ej. RE-2345" >
                    <br>
      
                    
               
                    {% if user.is_authenticated %}
                    <label for="inputEmail" class="form-label">Tu Correo</label>
                    <input type="email" class="form-control" id="email" name="email" 
                    {% if user.is_authenticated %}
                    placeholder= {{user.email}} readonly 
                    {% endif %}
                    disabled>
                    <button type="submit" class="btn btn-primary m-2"  name="regProd">Registrar Producto</button>
                    {%else%} 
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#staticBackdrop"  name="new">Registrate Primero</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginScreen"  name="loginBtn">Ya Tengo Usuario</button>
                    {% endif %}
                    
                </form>
                        
                        
                        
                  
            </div>
    
        </div>
           
            
 
</div> 
    {% endblock %} 

