
{% extends "britishdenim/base.html" %}
{% block body %} 
{% load static %}
<div class="container">
        {% if user.is_authenticated %}
    <h1>Welcome back {{user.first_name}}. Thank for being a valued customer!</h1>  
    {%else%}
        {% if sku != "_" %}
            <h1>Thank you for scanning your product. </h1>
            <h2>Please complete the following information.</h2>
        {% else %} 
            <h1>Thank you for registering your product.</h1>
            <h2>Please complete the following information.</h2>
        {%endif%}

    {%endif%}
</div>

<div class="d-flex justify-content-center"> 
    <div class="container-contact d-flex justify-content-center">
        <div class="row my-2 mx-2">
        
            <div class="col-md-4">
                    <br>
                    <img src="{% static '/britishdenim/images/side.jpeg' %}" width="85%" height="80%" padding-right="50" padding-top="110">
                
            </div>
            

            <div class="col-md-8">
                <form method="POST">
                {% csrf_token %}
                
                    <br>
                    <label for="inputSku" class="form-label">Sku</label>
                    <input type="text" {% if sku != "_" %}readonly value= "{{ sku }}"{%endif%} class="form-control" id="inputSku" name="inputSku" placeholder="Enter SKU from item. Ex. RE-2345" >
                    <br>
      
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" 
                    {% if user.is_authenticated %}
                    value= {{user.email}} readonly
                    {% endif %}
                    >
               
                    {% if user.is_authenticated %}
                   
                    {%else%} 
                   
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword" name="inputPassword">
                 
                    {% endif %}
              
                    <label for="first_name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="first_name" name="first_name"
                    {% if user.is_authenticated %}
                    value= {{user.first_name}} readonly
                    {%endif%}>
                    
                    <label for="last_name" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="last_name" name="last_name"
                    {% if user.is_authenticated %}
                    value= {{user.last_name}} readonly
                    {% endif %}
                    >
                 
                    <label for="city" class="form-label">City</label>
                    <input type="text" class="form-control" id="city" name="city" placeholder="City" value={{city}}>
                    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="getInfo" name="getInfo" checked>
                        <label class="form-check-label" for="getInfo">
                        Send me information on future deals.
                        </label>
                    </div>
            
                  
                        <button type="submit" class="btn btn-primary">Register</button>
                        
                        
                  
            </div>
        </form>
        </div>
           
            
    </div>
</div> 
    {% endblock %} 

