{% extends "britishdenim/base.html" %}
{% block body %} 

{% load static %}
<div class="pt-5"></div>
<div class="container">
    <div class="row">
        <div class="text-center">
            <img src="{% static '/britishdenim/images/front.jpeg' %}" class="img-fluid">
        </div>
    </div>
</div>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v11.0" nonce="mchNiWPh"></script>

<div class="fb-share-button" data-href="https://www.facebook.com/britishdenimlatam/" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
{%endblock%}