{% extends "britishdenim/base.html" %}
{% block body %} 

{% load static %}

<section id="home-section" class="hero">
    <div class="home-slider js-fullheight owl-carousel" >
    <div class="slider-item js-fullheight">
        <div class="overlay"></div>
      <div class="container-fluid p-0" >
        <div class="row d-md-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
            <div class="one-third order-md-last img js-fullheight" style="background-image:url({% static 'britishdenim/images/bg_1.jpg' %});">
            </div>
            <div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <div class="text">
                    <span class="subheading">British Denim</span>
                    <div class="horizontal">
                        <h3 class="vr" style="background-image: url({% static 'britishdenim/images/divider.jpg' %});">Vistiendote desde 2000</h3>
                      <h1 class="mb-4 mt-3">Ten tu propio <br><span>Estilo &amp; Personalidad</span></h1>
                      <p>Desde los icónicos jeans denim hasta las elegantes chaquetas y los impecables trajes a medida, British Denim tiene todo lo que necesitas para expresar tu estilo individual.</p>
                      
                      <p><a href="#" class="btn btn-primary px-5 py-3 mt-3">Descubrelo</a></p>
                    </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="slider-item js-fullheight">
        <div class="overlay"></div>
      <div class="container-fluid p-0">
        <div class="row d-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
            <div class="one-third order-md-last img js-fullheight" style="background-image:url({% static 'britishdenim/images/bg_2.jpg' %});">
            </div>
            <div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <div class="text">
                    <span class="subheading">British Denim</span>
                    <div class="horizontal">
                        <h3 class="vr" style="background-image: url({% static 'britishdenim/images/divider.jpg' %});">Marca sobresaliente en moda casual</h3>
                      <h1 class="mb-4 mt-3">Para una <span>Mujer</span> Moderna</h1>
                      <p>Únete a la comunidad de amantes de la moda que aprecian la esencia británica y el encanto clásico. Con British Denim, siempre estarás un paso adelante en el mundo de la moda, marcando tendencias y dejando una impresión duradera.</p>
                      
                      <p><a href="#" class="btn btn-primary px-5 py-3 mt-3">Ver mas</a></p>
                    </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'britishdenim/images/about.jpg' %});">
                <a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center">
                    <span class="icon-play"></span>
                </a>
            </div>
            <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
      <div class="heading-section-bold mb-4 mt-md-5">
          <div class="ml-md-0">
            <h2 class="mb-4">¡Únete a nuestra familia de clientes satisfechos!</h2>
        </div>
      </div>
      <div class="pb-md-5">
                    <p>No pierdas la oportunidad de vestirte con estilo y distinción. Descubre British Denim hoy y experimenta la grandeza de la moda británica en tu guardarropa.</p>
                    <div class="row ftco-services">
              <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services">
                  <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <!-- <span class="flaticon-002-recommended"></span> -->
                  </div>
                  <div class="media-body">
                    <h3 class="heading">Nuestra Promesa</h3>
                    <p>En British Denim, nos enorgullece ofrecerte productos de la más alta calidad y durabilidad. Estamos comprometidos con la satisfacción de nuestros clientes, por lo que respaldamos cada compra con nuestra garantía excepcional.</p>
                  </div>
                </div>      
              </div>
              <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services">
                  <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <!-- <span class="flaticon-001-box"></span> -->
                  </div>
                  <div class="media-body">
                    <h3 class="heading">Estilos Originales</h3>
                    <p>Sumérgete en un mundo de moda sofisticada y atemporal con nuestra marca de ropa. British Denim combina la pasión por la calidad y la artesanía con diseños vanguardistas que te harán lucir impecable en cualquier ocasión.</p>
                  </div>
                </div>    
              </div>
              <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services">
                  <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <!-- <span class="flaticon-003-medal"></span> -->
                  </div>
                  <div class="media-body">
                    <h3 class="heading">Calidad Superior</h3>
                    <p>Nuestras prendas están confeccionadas con los mejores materiales, cuidadosamente seleccionados para garantizar un ajuste perfecto y una comodidad incomparable. Cada puntada es una muestra del cuidado y la dedicación que ponemos en cada prenda, brindándote una calidad duradera que resistirá el paso del tiempo.</p>
                  </div>
                </div>      
              </div>
            </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section bg-light">
    <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <h2 class="mb-4">Mejor Vendidos</h2>
        <p>¡Descubre los mas vendidos de British Denim y eleva tu estilo al siguiente nivel!</p>
      </div>
    </div>   		
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm col-md-6 col-lg ftco-animate">
                <div class="product">
                    <a href="#" class="img-prod"><img class="img-fluid" src="{% static 'britishdenim/images/product-1.jpg' %}" alt="Colorlib Template">
                        <!-- <span class="status">30%</span> -->
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 px-3">
                        <h3><a href="#">POLO P/HOMBRE </a></h3>
                        <div class="d-flex">
                            <!-- <div class="pricing">
                                <p class="price"><span class="mr-2 price-dc">00</span><span class="price-sale">00</span></p>
                            </div> -->
                            <div class="rating">
                                <p class="text-right">
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                </p>
                            </div>
                        </div>
                        <!-- <p class="bottom-area d-flex px-3">
                            <a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                            <a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
                        </p> -->
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg ftco-animate">
                <div class="product">
                    <a href="#" class="img-prod"><img class="img-fluid" src="{% static 'britishdenim/images/product-2.jpg' %}" alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 px-3">
                        <h3><a href="#">SWETER P/HOMBRE FASHION PRINT</a></h3>
                        <div class="d-flex">
                            <!-- <div class="pricing">
                                <p class="price"><span>00</span></p>
                            </div> -->
                            <div class="rating">
                                <p class="text-right">
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                </p>
                            </div>
                        </div>
                        <!-- <p class="bottom-area d-flex px-3">
                            <a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                            <a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
                        </p> -->
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg ftco-animate">
                <div class="product">
                    <a href="#" class="img-prod"><img class="img-fluid" src="{% static 'britishdenim/images/product-3.jpg' %}" alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 px-3">
                        <h3><a href="#">SHORTS DRILL STRETCH</a></h3>
                        <div class="d-flex">
                            <!-- <div class="pricing">
                                <p class="price"><span>00</span></p>
                            </div> -->
                            <div class="rating">
                                <p class="text-right">
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                </p>
                            </div>
                        </div>
                        <!-- <p class="bottom-area d-flex px-3">
                            <a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                            <a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
                        </p> -->
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg ftco-animate">
                <div class="product">
                    <a href="#" class="img-prod"><img class="img-fluid" src="{% static 'britishdenim/images/product-4.jpg' %}" alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 px-3">
                        <h3><a href="#">FASHION JEANS ROTOS</a></h3>
                        <div class="d-flex">
                            <!-- <div class="pricing">
                                <p class="price"><span>00</span></p>
                            </div> -->
                            <div class="rating">
                                <p class="text-right">
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                </p>
                            </div>
                        </div>
                        <!-- <p class="bottom-area d-flex px-3">
                            <a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                            <a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
                        </p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section ftco-choose ftco-no-pb ftco-no-pt">
    <div class="container">
        <div class="row">
            <div class="col-md-8 d-flex align-items-stretch">
                <div class="img" style="background-image: url({% static 'britishdenim/images/about-1.jpg' %});"></div>
            </div>
            <div class="col-md-4 py-md-5 ftco-animate">
                <div class="text py-3 py-md-5">
            <h2 class="mb-4">Bienvenido a la colección de 2024 de British Denim.</h2>
            <p>Nuestra colección de 2024 presenta una fusión perfecta entre la estética clásica del denim y elementos modernos y vanguardistas. Desde jeans con cortes asimétricos y detalles metálicos, hasta chaquetas de mezclilla con estampados audaces y coloridos, cada prenda es una expresión de individualidad y estilo propio.</p>
            <p><a href="#" class="btn btn-white px-4 py-3">Ver mas</a></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 order-md-last d-flex align-items-stretch">
                <div class="img img-2" style="background-image: url({% static 'britishdenim/images/about-2.jpg' %});"></div>
            </div>
            <div class="col-md-7 py-3 py-md-5 ftco-animate">
                <div class="text text-2 py-md-5">
            <h2 class="mb-4">¡Descubre la nueva colección de hombre 2024 de British Denim y lleva tu estilo a nuevas alturas!</h2>
            <p>Nuestra nueva colección de hombre 2024 fusiona a la perfección la elegancia clásica con un toque contemporáneo. Desde jeans de corte impecable hasta chaquetas de mezclilla con detalles sofisticados, cada prenda ha sido cuidadosamente diseñada para brindarte un look masculino distintivo y vanguardista.</p>
            <p><a href="#" class="btn btn-white px-4 py-3">Descubrelo</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url({% static 'britishdenim/images/bg_4.jpg' %});">
    <div class="container">
        <div class="row justify-content-center py-5">
            <div class="col-md-10">
                <div class="row">
              <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <strong class="number" data-number="11089">0</strong>
                    <span>Clientes Satisfechos</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <strong class="number" data-number="114">0</strong>
                    <span>Puntos de Venta</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <strong class="number" data-number="143">0</strong>
                    <span>Socios Estrategicos</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <strong class="number" data-number="65">0</strong>
                    <span>Premios</span>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    </div>
</section>



{%endblock%}