{% extends 'britishdenim/base.html' %}
{% block body %}

<!-- Header -->
<header class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                
                <h1 class="text-center">Ingresa Nueva Contraseña</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->


<div class="ex-form-1 pt-5 pb-5">
    <div class="container">
        <h1>Contraseña Actualizada Correctamente</h1>
        <p>Tu contraseña ha sido actualizada. Puedes ingresar <a href="{% url 'index' %}">aqui</a>.</p>
    </div>
</div>






{% endblock %}