{% extends 'britishdenim/base.html' %}
{% block body %}


<!-- Header -->
<header class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
            
                <h1 class="text-center">Ingresa Nueva Contraseña</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->

<div class="ex-form-1 pt-5 pb-5">
    <div class="container">
        {% if validlink %}

        <h1>Tu nueva contraseña</h1>
        <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Cambia mi contraseña">
        </form>

        {% else %}

        <p>El vinculo para cambiar la contraseña es invalido, posiblemente ya fue usado.  Por favor vuelve a solicitarlo.</p>

        {% endif %}
    </div>
</div>






{% endblock %}