{% extends 'britishdenim/base.html' %}
{% block body %}


<!-- Header -->
<header class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
   
                <h1 class="text-center">Correo Enviado</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->

<div class="ex-form-1 pt-5 pb-5">
    <div class="container">
        <h1>Revisa tu correo.</h1>
        <p>Te enviamos un correo con instrucciones para reiniciar tu contraseña. En poco tiempo lo estaras recibiendo!</p>
    </div>
</div>







{% endblock %}